In [16]:
import pandas

In [17]:
df = pandas.read_csv('datasets/API_AUS_DS2_en_csv_v2_9851.csv')

In [18]:
df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Unnamed: 67
0,Australia,AUS,"Intentional homicides, male (per 100,000 male)",VC.IHR.PSRC.MA.P5,NaN,NaN,NaN,NaN,NaN,NaN,...,1.277262e+00,1.276442e+00,1.224220e+00,1.180448e+00,1.089576e+00,1.240170e+00,1.177559e+00,1.095763e+00,NaN,NaN
1,Australia,AUS,"Internally displaced persons, new displacement...",VC.IDP.NWCV,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Australia,AUS,"Voice and Accountability: Percentile Rank, Low...",VA.PER.RNK.LOWER,NaN,NaN,NaN,NaN,NaN,NaN,...,8.472906e+01,8.423645e+01,8.472906e+01,8.522167e+01,8.737864e+01,8.115942e+01,8.164251e+01,8.743961e+01,8.357488e+01,NaN
3,Australia,AUS,Travel services (% of commercial service exports),TX.VAL.TRVL.ZS.WT,NaN,NaN,NaN,NaN,NaN,NaN,...,6.164446e+01,6.333040e+01,6.470570e+01,6.495642e+01,6.579422e+01,6.516703e+01,5.269363e+01,3.870002e+01,4.712232e+01,NaN
4,Australia,AUS,Commercial service exports (current US$),TX.VAL.SERV.CD.WT,NaN,NaN,NaN,NaN,NaN,NaN,...,5.812266e+10,5.411215e+10,5.721138e+10,6.429268e+10,6.854438e+10,6.988171e+10,4.870864e+10,4.408787e+10,5.071859e+10,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1481,Australia,AUS,Agricultural irrigated land (% of total agricu...,AG.LND.IRIG.AG.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,6.306504e-01,6.173464e-01,6.266747e-01,6.034902e-01,6.402987e-01,5.393446e-01,4.275174e-01,5.350477e-01,NaN,NaN
1482,Australia,AUS,Urban land area where elevation is below 5 met...,AG.LND.EL5M.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,9.813427e-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1483,Australia,AUS,Permanent cropland (% of land area),AG.LND.CROP.ZS,NaN,2.249416e-02,2.323168e-02,2.349507e-02,2.370579e-02,2.386383e-02,...,4.512971e-02,3.987087e-02,4.173156e-02,4.186157e-02,4.316161e-02,4.511169e-02,4.576171e-02,5.005187e-02,NaN,NaN
1484,Australia,AUS,Arable land (hectares),AG.LND.ARBL.HA,NaN,1.437859e+07,1.551579e+07,1.538346e+07,1.629605e+07,1.732764e+07,...,3.196030e+07,3.109070e+07,3.005700e+07,3.075200e+07,3.097400e+07,3.057300e+07,3.064400e+07,3.126500e+07,NaN,NaN
1485,Australia,AUS,Fertilizer consumption (% of fertilizer produc...,AG.CON.FERT.PT.ZS,NaN,1.100917e+02,9.810557e+01,9.748512e+01,1.132072e+02,1.113822e+02,...,3.834001e+02,2.857797e+02,2.824820e+02,3.092797e+02,3.041789e+02,2.967048e+02,2.773365e+02,2.773365e+02,NaN,NaN

In [20]:
len(df.columns)

68

In [19]:
df.columns == df.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True])